@model VR_FE_API.Models.RentalItem

@{
    ViewBag.Title = "DeleteRentedMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Rented Movie</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RentalItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>

        <dd>
            @Model.Movies.FirstOrDefault(m => m.Value.AsInt() == Model.MovieId).Text
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Edit", new { Id = Model.RentalId })
        </div>
    }
</div>
